body{
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    height: 100vh; 
}

ul{
    position: absolute; 
    top: 0; 
    left: 0;
    margin: 0; 
    padding: 0; 
    width: 100%;
}
ul li{
    position: relative; 
    list-style: none; 
    height: 33.3vh; 
    width: 100%; 
}

#particles1,
#particles2,
#particles3{
    height: 100%; 

    
}

#particles1{ 
    background: #f93; 
}

#particles3{ 
    background: #138808; 
}

ul li img{
    position: absolute; 
    height: 100%; 
    left: 50%;
    transform: translateX(-50%);
    animation: animate 25s linear infinite; 

}

ul li h1{
    position: absolute; 
    width: 40%; 
    margin: 0; 
    padding: 0; 
    font-size: 4em; 
    text-align: right; 
    text-transform: uppercase; 
}
ul li h2{
    position: absolute; 
    width: 40%; 
    right: 0;
    margin: 25px 0; 
    padding: 0; 
    font-size: 6em; 
    text-transform: uppercase; 


}
@keyframes animate
{
    0%
    {
        transform:translateX(-50%) rotate(0deg); 
    }
    100%
    {
        transform:translateX(-50%) rotate(360deg); 
    }
}